body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(Background.png) lightgray 50% / cover no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    display: flex;
width: max-content;
height: max-content;
padding: 16px;
justify-content: center;
align-items: center;
align-content: center;
gap: 16px;
flex-shrink: 0;
flex-wrap: wrap;
}

.block {
  display: flex;
min-width: 350px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}

textarea {
    height: 300px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px;
    resize: none;
    font-size: 14px;
}

input, textarea {
  color: #FFF;
}

input:focus, textarea:focus {
  outline: none;
}

button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #FFF;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.arrow {
  font-size: 32px;
  align-self: center;
  color: white;
}
